<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	indexPageName="minmin-xiaobai.html"

>
  <image imageURL="images/62.jpg"
	thumbURL="thumbs/62.jpg"
	linkURL="images/62.jpg"
	linkTarget="_blank">
    <title><![CDATA[62]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/63.jpg"
	thumbURL="thumbs/63.jpg"
	linkURL="images/63.jpg"
	linkTarget="_blank">
    <title><![CDATA[63]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/64.jpg"
	thumbURL="thumbs/64.jpg"
	linkURL="images/64.jpg"
	linkTarget="_blank">
    <title><![CDATA[64]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/74.jpg"
	thumbURL="thumbs/74.jpg"
	linkURL="images/74.jpg"
	linkTarget="_blank">
    <title><![CDATA[74]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/75.jpg"
	thumbURL="thumbs/75.jpg"
	linkURL="images/75.jpg"
	linkTarget="_blank">
    <title><![CDATA[75]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/80.jpg"
	thumbURL="thumbs/80.jpg"
	linkURL="images/80.jpg"
	linkTarget="_blank">
    <title><![CDATA[80]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/82.jpg"
	thumbURL="thumbs/82.jpg"
	linkURL="images/82.jpg"
	linkTarget="_blank">
    <title><![CDATA[82]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/90.jpg"
	thumbURL="thumbs/90.jpg"
	linkURL="images/90.jpg"
	linkTarget="_blank">
    <title><![CDATA[90]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/91.jpg"
	thumbURL="thumbs/91.jpg"
	linkURL="images/91.jpg"
	linkTarget="_blank">
    <title><![CDATA[91]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/92.jpg"
	thumbURL="thumbs/92.jpg"
	linkURL="images/92.jpg"
	linkTarget="_blank">
    <title><![CDATA[92]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/100.jpg"
	thumbURL="thumbs/100.jpg"
	linkURL="images/100.jpg"
	linkTarget="_blank">
    <title><![CDATA[100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/101.jpg"
	thumbURL="thumbs/101.jpg"
	linkURL="images/101.jpg"
	linkTarget="_blank">
    <title><![CDATA[101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16.jpg"
	thumbURL="thumbs/16.jpg"
	linkURL="images/16.jpg"
	linkTarget="_blank">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/18.jpg"
	thumbURL="thumbs/18.jpg"
	linkURL="images/18.jpg"
	linkTarget="_blank">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19.jpg"
	thumbURL="thumbs/19.jpg"
	linkURL="images/19.jpg"
	linkTarget="_blank">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/27.jpg"
	thumbURL="thumbs/27.jpg"
	linkURL="images/27.jpg"
	linkTarget="_blank">
    <title><![CDATA[27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/29.jpg"
	thumbURL="thumbs/29.jpg"
	linkURL="images/29.jpg"
	linkTarget="_blank">
    <title><![CDATA[29]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/33.jpg"
	thumbURL="thumbs/33.jpg"
	linkURL="images/33.jpg"
	linkTarget="_blank">
    <title><![CDATA[33]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/39.jpg"
	thumbURL="thumbs/39.jpg"
	linkURL="images/39.jpg"
	linkTarget="_blank">
    <title><![CDATA[39]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/40.jpg"
	thumbURL="thumbs/40.jpg"
	linkURL="images/40.jpg"
	linkTarget="_blank">
    <title><![CDATA[40]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/41.jpg"
	thumbURL="thumbs/41.jpg"
	linkURL="images/41.jpg"
	linkTarget="_blank">
    <title><![CDATA[41]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/44.jpg"
	thumbURL="thumbs/44.jpg"
	linkURL="images/44.jpg"
	linkTarget="_blank">
    <title><![CDATA[44]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/48.jpg"
	thumbURL="thumbs/48.jpg"
	linkURL="images/48.jpg"
	linkTarget="_blank">
    <title><![CDATA[48]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/58.jpg"
	thumbURL="thumbs/58.jpg"
	linkURL="images/58.jpg"
	linkTarget="_blank">
    <title><![CDATA[58]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>