<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"

>
  <image imageURL="images/DSC_5736.jpg"
	thumbURL="thumbs/DSC_5736.jpg"
	linkURL="images/DSC_5736.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_5736]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5892.jpg"
	thumbURL="thumbs/DSC_5892.jpg"
	linkURL="images/DSC_5892.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_5892]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_5903.jpg"
	thumbURL="thumbs/DSC_5903.jpg"
	linkURL="images/DSC_5903.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_5903]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6004.jpg"
	thumbURL="thumbs/DSC_6004.jpg"
	linkURL="images/DSC_6004.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6112.jpg"
	thumbURL="thumbs/DSC_6112.jpg"
	linkURL="images/DSC_6112.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6229.jpg"
	thumbURL="thumbs/DSC_6229.jpg"
	linkURL="images/DSC_6229.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6275.jpg"
	thumbURL="thumbs/DSC_6275.jpg"
	linkURL="images/DSC_6275.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6339.jpg"
	thumbURL="thumbs/DSC_6339.jpg"
	linkURL="images/DSC_6339.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6367.jpg"
	thumbURL="thumbs/DSC_6367.jpg"
	linkURL="images/DSC_6367.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6367]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6369.jpg"
	thumbURL="thumbs/DSC_6369.jpg"
	linkURL="images/DSC_6369.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6369]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6385.jpg"
	thumbURL="thumbs/DSC_6385.jpg"
	linkURL="images/DSC_6385.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6385]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6401.jpg"
	thumbURL="thumbs/DSC_6401.jpg"
	linkURL="images/DSC_6401.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6401]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6522.jpg"
	thumbURL="thumbs/DSC_6522.jpg"
	linkURL="images/DSC_6522.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6522]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6586.jpg"
	thumbURL="thumbs/DSC_6586.jpg"
	linkURL="images/DSC_6586.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6586]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6634.jpg"
	thumbURL="thumbs/DSC_6634.jpg"
	linkURL="images/DSC_6634.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6634]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6656.jpg"
	thumbURL="thumbs/DSC_6656.jpg"
	linkURL="images/DSC_6656.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6656]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6682.jpg"
	thumbURL="thumbs/DSC_6682.jpg"
	linkURL="images/DSC_6682.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6682]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6716.jpg"
	thumbURL="thumbs/DSC_6716.jpg"
	linkURL="images/DSC_6716.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6716]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6819.jpg"
	thumbURL="thumbs/DSC_6819.jpg"
	linkURL="images/DSC_6819.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6819]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6864.jpg"
	thumbURL="thumbs/DSC_6864.jpg"
	linkURL="images/DSC_6864.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6864]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6884.jpg"
	thumbURL="thumbs/DSC_6884.jpg"
	linkURL="images/DSC_6884.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6888.jpg"
	thumbURL="thumbs/DSC_6888.jpg"
	linkURL="images/DSC_6888.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6888]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6902.jpg"
	thumbURL="thumbs/DSC_6902.jpg"
	linkURL="images/DSC_6902.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6902]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6934.jpg"
	thumbURL="thumbs/DSC_6934.jpg"
	linkURL="images/DSC_6934.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_6934]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_7012.jpg"
	thumbURL="thumbs/DSC_7012.jpg"
	linkURL="images/DSC_7012.jpg"
	linkTarget="_blank">
    <title><![CDATA[DSC_7012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>